html
  head
    title Comparador de periódicos.
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript' src='clientScripts/loader.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

  body
    h1 Comparador de periódicos.

    div.columna
      h2 El País
      div#elpais

    div.columna
      h2 El Mundo
      div#elmundo

    div.columna
      h2 ABC
      div#abc

    div.columna
      h2 La Razón
      div#larazon

    div.columna
      h2 La Vanguardia
      div#lavanguardia
        
