body {
	font-family: 'Open Sans', sans-serif;;
}

a:hover {
	text-decoration: none;
}

h1 {
	text-align: center;
	font-family: 'Cinzel', serif;
	font-weight: 400;
}

h2 {
	margin-bottom: 0;
	margin-top: 0;
	font-family: 'Cinzel', serif;
	font-size: 1.70em;
	font-weight: 400;
	padding-left: 5px;
}

ul {
	padding: 5px;
	margin-bottom: 2px;
	list-style-type: circle;
}

/*.columna {
	display: inline-block;
	position: relative;
	border: 1px solid grey;
	vertical-align: top;
	width: 20%;
	min-width: 400px;
	margin: 0px;
	border-radius: 5px;
}*/

.columna {
	clear:left;
	float:left;
	width:19.60%;
	position:relative;
	right:20%;
}

.columna.primera {
	margin-left:7px;
}


.columna .cabecera-col {
	background: #e0e0e0;
	padding: 0;
	margin: 0;
	border-bottom: 1px dotted grey;
}


.columna .contenido-col {
	background: #eeeeee;
	padding: 0px 4px 4px 4px;
}