h1 {
	text-align: center;
}

.columna {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 20%;
	min-width: 400px;
	margin: 5px;
	background: #eeeeee;
	padding: 0px 4px 4px 4px;
	border-radius: 5px;
}